[layout],             [data-layout] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

[layout~="row"],      [data-layout~="row"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

[layout~="col"],      [data-layout~="col"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

[layout~="full-col"], [data-layout~="full-col"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

[justify~="start"],   [data-justify~="start"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

[justify~="end"],     [data-justify~="end"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

[justify~="center"],  [data-justify~="center"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

[justify~="between"], [data-justify~="between"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

[justify~="around"],  [data-justify~="around"] {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

[align~="start"],     [data-align~="start"] {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

[align~="end"],       [data-align~="end"] {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

[align~="center"],    [data-align~="center"] {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: initial;
}

[align~="stretch"],   [data-align~="stretch"] {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

[wrap~="all"],        [data-wrap~="all"] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[ratio], [data-ratio],
[ratio~="1"],         [data-ratio~="1"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

[ratio~="2"],         [data-ratio~="2"] {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

[ratio~="3"],         [data-ratio~="3"] {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

[ratio~="4"],         [data-ratio~="4"] {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

[ratio~="5"],         [data-ratio~="5"] {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

[ratio~="6"],         [data-ratio~="6"] {
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

@media screen and (max-width: 40em) {
    [layout~="sm-row"],      [data-layout~="sm-row"] {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    [layout~="sm-col"],      [data-layout~="sm-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    [layout~="sm-full-col"], [data-layout~="sm-full-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
    }

    [justify~="sm-start"],   [data-justify~="sm-start"] {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    [justify~="sm-end"],     [data-justify~="sm-end"] {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    [justify~="sm-center"],  [data-justify~="sm-center"] {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    [justify~="sm-between"], [data-justify~="sm-between"] {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    [justify~="sm-around"],  [data-justify~="sm-around"] {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    [align~="sm-start"],     [data-align~="sm-start"] {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    [align~="sm-end"],       [data-align~="sm-end"] {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    [align~="sm-center"],    [data-align~="sm-center"] {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: initial;
    }

    [align~="sm-stretch"],   [data-align~="sm-stretch"] {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    [wrap~="sm"],            [data-wrap~="sm"] {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    [ratio~="sm-1"],         [data-ratio~="sm-1"] {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    [ratio~="sm-2"],         [data-ratio~="sm-2"] {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }

    [ratio~="sm-3"],         [data-ratio~="sm-3"] {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    [ratio~="sm-4"],         [data-ratio~="sm-4"] {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
    }

    [ratio~="sm-5"],         [data-ratio~="sm-5"] {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
    }

    [ratio~="sm-6"],         [data-ratio~="sm-6"] {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        -ms-flex: 6;
        flex: 6;
    }
}

@media screen and (max-width: 64em) and (min-width: 40em) {
    [layout~="md-row"],      [data-layout~="md-row"] {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    [layout~="md-col"],      [data-layout~="md-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    [layout~="md-full-col"], [data-layout~="md-full-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
    }

    [justify~="md-start"],   [data-justify~="md-start"] {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    [justify~="md-end"],     [data-justify~="md-end"] {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    [justify~="md-center"],  [data-justify~="md-center"] {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    [justify~="md-between"], [data-justify~="md-between"] {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    [justify~="md-around"],  [data-justify~="md-around"] {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    [align~="md-start"],     [data-align~="md-start"] {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    [align~="md-end"],       [data-align~="md-end"] {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    [align~="md-center"],    [data-align~="md-center"] {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: initial;
    }

    [align~="md-stretch"],   [data-align~="md-stretch"] {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    [wrap~="md"],            [data-wrap~="md"] {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    [ratio~="md-1"],         [data-ratio~="md-1"] {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    [ratio~="md-2"],         [data-ratio~="md-2"] {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }

    [ratio~="md-3"],         [data-ratio~="md-3"] {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    [ratio~="md-4"],         [data-ratio~="md-4"] {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
    }

    [ratio~="md-5"],         [data-ratio~="md-5"] {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
    }

    [ratio~="md-6"],         [data-ratio~="md-6"] {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        -ms-flex: 6;
        flex: 6;
    }
}

@media screen and (max-width: 90em) and (min-width: 64em) {
    [layout~="lg-row"],      [data-layout~="lg-row"] {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    [layout~="lg-col"],      [data-layout~="lg-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    [layout~="lg-full-col"], [data-layout~="lg-full-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
    }

    [justify~="lg-start"],   [data-justify~="lg-start"] {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    [justify~="lg-end"],     [data-justify~="lg-end"] {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    [justify~="lg-center"],  [data-justify~="lg-center"] {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    [justify~="lg-between"], [data-justify~="lg-between"] {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    [justify~="lg-around"],  [data-justify~="lg-around"] {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    [align~="lg-start"],     [data-align~="lg-start"] {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    [align~="lg-end"],       [data-align~="lg-end"] {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    [align~="lg-center"],    [data-align~="lg-center"] {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: initial;
    }

    [align~="lg-stretch"],   [data-align~="lg-stretch"] {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    [wrap~="lg"],            [data-wrap~="lg"] {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    [ratio~="lg-1"],         [data-ratio~="lg-1"] {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    [ratio~="lg-2"],         [data-ratio~="lg-2"] {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }

    [ratio~="lg-3"],         [data-ratio~="lg-3"] {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    [ratio~="lg-4"],         [data-ratio~="lg-4"] {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
    }

    [ratio~="lg-5"],         [data-ratio~="lg-5"] {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
    }

    [ratio~="lg-6"],         [data-ratio~="lg-6"] {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        -ms-flex: 6;
        flex: 6;
    }
}

@media screen and (min-width: 90em) {
    [layout~="xl-row"],      [data-layout~="xl-row"] {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    [layout~="xl-col"],      [data-layout~="xl-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    [layout~="xl-full-col"], [data-layout~="xl-full-col"] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
    }

    [justify~="xl-start"],   [data-justify~="xl-start"] {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    [justify~="xl-end"],     [data-justify~="xl-end"] {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    [justify~="xl-center"],  [data-justify~="xl-center"] {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    [justify~="xl-between"], [data-justify~="xl-between"] {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    [justify~="xl-around"],  [data-justify~="xl-around"] {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    [align~="xl-start"],     [data-align~="xl-start"] {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    [align~="xl-end"],       [data-align~="xl-end"] {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    [align~="xl-center"],    [data-align~="xl-center"] {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: initial;
    }

    [align~="xl-stretch"],   [data-align~="xl-stretch"] {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    [wrap~="xl"],            [data-wrap~="xl"] {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    [ratio~="xl-1"],         [data-ratio~="xl-1"] {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    [ratio~="xl-2"],         [data-ratio~="xl-2"] {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }

    [ratio~="xl-3"],         [data-ratio~="xl-3"] {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }

    [ratio~="xl-4"],         [data-ratio~="xl-4"] {
        -webkit-box-flex: 4;
        -webkit-flex: 4;
        -ms-flex: 4;
        flex: 4;
    }

    [ratio~="xl-5"],         [data-ratio~="xl-5"] {
        -webkit-box-flex: 5;
        -webkit-flex: 5;
        -ms-flex: 5;
        flex: 5;
    }

    [ratio~="xl-6"],         [data-ratio~="xl-6"] {
        -webkit-box-flex: 6;
        -webkit-flex: 6;
        -ms-flex: 6;
        flex: 6;
    }
}


/*
	If you don't care about invalid html selectors, then you can remove all
	data attribute selectors. Find and replace with a blank string by using this regex:

	\,[\s]{1,}\[data\-[a-z\d\-\~\=\"]{1,}\]
*/